<div class="center-col cs-custom-form s1535529247">
    <div class="form-col-wrap">
        <form method="post" action="https://ecf.cirkleinc.com/api/form-submit" class="cs-form-wrap" id="43a61d1b-334e-4823-9bef-dce3a09fe351">
            <div class="Polaris-FormLayout">
                <div class="Polaris-FormLayout__Item custom-newsletter-wrapper">
                    <div class="element-group image-border custom-newsletter-image  cs-width-100">
                        <div class="cs-image" style="text-align: center;">
                            <img class="custom-newsletter-image-2" src="https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_e_book-cropped.png?v=1679109431" height="auto" width="100%">
                        </div>
                    </div>
                    <div class="sc-jJEKmz custom-newsletter-text">
                        <div class="sc-citxvW sc-iUuxjF gYTLuO iidRym drop-area-warp">
                            <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeMedium no-margin"><span class = 'heading-size-7' style="text-align: left; display: block;">Get the Red Light Therapy Guide Free!</span></h2>
                            <p class = 'body-size-7'>Don't miss out on:</p>
                            <ul class = 'bullet-point mobile-margin'
                              data-aos="hero"
                              data-aos-anchor="{{ animation_anchor }}"
                              data-aos-order="{{ animation_counter }}">
                              <li><div class = 'custom-bullet'></div><p>What red light therapy can do for your health</p></li>
                            </ul>
                            <ul class = 'bullet-point mobile-margin'
                              data-aos="hero"
                              data-aos-anchor="{{ animation_anchor }}"
                              data-aos-order="{{ animation_counter }}">
                              <li><div class = 'custom-bullet'></div><p>How to use red light therapy correctly and safely</p></li>
                            </ul>
                            <ul class = 'bullet-point mobile-margin'
                              data-aos="hero"
                              data-aos-anchor="{{ animation_anchor }}"
                              data-aos-order="{{ animation_counter }}">
                              <li><div class = 'custom-bullet'></div><p>How to pick an effective and safe device</p></li>
                            </ul>
                            <div class="element-group  cs-width-100">
                                <input type="text" id="text" name="text" placeholder="Name" class="input-field">
                            </div>
                            <div class="element-group  cs-width-100">
                                <input type="email" id="email" name="email" placeholder="Email" class="input-field">
                            </div>
                            <div class="element-group  cs-width-100 custom-newsletter-hide">
                                <input type="checkbox" id="accepts_marketing" name="accepts_marketing" class=" condition-trigger" checked="">
                                <label for="accepts_marketing">Subscribe Email</label>
                            </div>
                        </div>
                        <div class="element-group custom-newsletter-button">
                            <div class="form-submit-btn-wrap" style="justify-content: left; display: flex;">
                                <button type="submit" class = 'newsletter__submit round-corners btn btn--neutral'>Join</button>
                            </div>
                        </div>
                        <div class="form-item form__legal custom-newsletter-disclaimer">
                          {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
</script> 
<script src="https://ecf.cirkleinc.com/public/frontend/js/form-builder-helper-v2.js"></script>

{% schema %}
{
  "name": "Custom Newsletter",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "category": "Custom Newsletter",
      "name": "Newsletter",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}